<form  class="{{cssClass}}" autocomplete="off">
    <!-- Effect Header -->
    <header class="sheet-header">
        <img class="effect-icon effect-img" src="{{ effect.img }}" data-edit="img">
        <h1 class="effect-title"><input type="text" name="name" value="{{effect.name}}" placeholder="{{localize 'ARCHMAGE.name'}}"/></h1>
    </header>

    <article class="sheet-content">
        <section class="sheet-body">
            <!-- Effect Configuration Tabs -->
            <nav class="sheet-tabs tabs">
                <a class="item" data-tab="info"><i class="fas fa-book"></i> {{localize "Info"}}</a>
                <a class="item" data-tab="pc">{{localize "PC"}}</a>
            </nav>

            <div class="sheet-tabs-content">
                <!-- Info Tab -->
                <section class="tab" data-tab="info">
                    <div class="form-group stacked">
                        <label>{{ localize "EFFECT.Description" }}</label>
                        {{editor descriptionHTML target="description" button=false editable=editable engine="prosemirror" collaborate=false}}
                    </div>

                    <div class="form-group">
                        <label>{{ localize "EFFECT.Disabled" }}</label>
                        <input type="checkbox" name="disabled" {{ checked effect.disabled }}/>
                    </div>

                    {{#if originLink}}
                    <div class="form-group">
                        <label>{{ localize "EFFECT.Origin" }}</label>
                        {{{originLink}}}
                    </div>
                    {{/if}}

                    {{#if isItemEffect}}
                    <div class="form-group">
                        <label>{{ labels.transfer.name }}</label>
                        <div class="form-fields">
                            <input type="checkbox" name="transfer" {{checked data.transfer}}/>
                        </div>
                        <p class="hint">{{ labels.transfer.hint }}</p>
                    </div>
                    {{/if}}
                </div>

                <!-- PC Tab -->
                <section class="tab" data-tab="pc">
                    <div class="form-group">
                        <label>{{localize "HP"}} Current</label>
                        <select name="pc.system.hp.value-mode" data-dtype="Number">
                            {{selectOptions resourceModes selected=pc.system.hp.value-mode}}
                        </select>
                        <input type="number" name="pc.system.hp.value" value="{{pc.system.hp.value}}" />
                    </div>
                    <div class="form-group">
                        <label>{{localize "HP"}} Max</label>
                        <select name="pc.system.hp.max-mode" data-dtype="Number">
                            {{selectOptions numberModes selected=pc.system.hp.max-mode}}
                        </select>
                        <input type="number" name="pc.system.hp.max" value="{{pc.system.hp.max}}" />
                    </div>
                </section>
                <!-- Loot Tab -->
                <section class="tab" data-tab="loot">
                    <div class="form-group">
                        <label>{{localize "Value"}}</label>
                        <select name="loot.system.value-mode" data-dtype="Number">
                            {{selectOptions numberModes selected=loot.system.value-mode}}
                        </select>
                        <input type="number" name="loot.system.value" value="{{loot.system.value}}" />
                    </div>
                </section>
            </section>
        </section>
    </article>
</form>
